<div class="center hero-unit">
<h1>Willkommen auf der Startseite der Judo-Homepage</h1>
<h2>
Das ist die Startseite!
</h2>
<%= link_to "Jetzt Registrieren!", registrierung_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>