<%= provide(:title, "Anmelden") %>
<h1>Anmelden</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
		
			<%= f.label :email %>
			<%= f.text_field :email %>
			
			<%= f.label :password %>
			<%= f.password_field :password %>
			
			<%= f.submit "Anmelden", class: "btn btn-large btn-primary" %>
		<% end %>
		
		<p>Neuer Benutzer? <%= link_to "Jetzt registrieren!", registrierung_path %></p>
	</div>
</div>