<!DOCTYPE html>
<html>
	<head>
		<title>Herzlich Willkommen auf JudoHP</title>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style type="text/css">
			body {
				font-family: "Comic Sans MS", cursive, sans-serif;
			}
		</style>
	</head>
	<body >
		<h1>Herzlich Willkommen <%= @user.name %>,</h1>
		<p>
			Für Sie wurde sie wurde auf JudoHP ein Benutzer-Account angelegt mit folgenden Zugangsdaten:
			<br>
			E-Mail: <%= @user.email %>.
			<br>
			Password: &lt;Geburtsdatum&gt; (Z.B. <%= Date.today %>)
		</p>
		<p>
			Zum Anmelden gehen Sie einfach auf folgene Seite: <%= link_to signin_url, signin_url %>.
		</p>
		<p>
			Vielen Dank!
		</p>
	</body>
</html>