<% provide(:title, "Benutzer bearbeiten") %>
<h1>Profil aktualisieren</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :email %>
			<%= f.text_field :email %>
			
			<%= f.label :password %>
			<%= f.password_field :password %>
			
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
			
			<%= f.submit "Änderungen speichern", class: "btn btn-large btn-primary" %>
		<% end %>
		
		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">ändern</a>
	</div>
</div>