<% provide(:title, t('.title')) %>

<table class="table table-striped">
	<thead>
		<tr>
			<th><%= t('activerecord.attributes.user.person') %></th>
			<th><%= t('activerecord.attributes.user.email') %></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody class="user-index" >
		<%= render 'index' %>
	</tbody>
</table>
