<% if @user.errors.any? %>
	<div id="error explanation">
		<div class="alert alert-error">
			Im Formular <%= t('plural.is', :count => @user.errors.count) %> <%= @user.errors.count %> Fehler.
		</div>
		
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>