<% provide(:title, t('views.role.index.title')) %>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th><%= t('activerecord.attributes.role.name') %></th>
			<th><%= t('activerecord.attributes.role.activities')%>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody class="role-index">
		<%= render 'index' %>
	</tbody>
</table>
