<% provide(:title, @role.name) %>

<h4 class"page-header"><%= t('activerecord.attributes.role.activities') %>:</h2>
<ul class="list-group">
	<% @act.each do |a| %>
	<li class="list-group-item">
		<strong><%= t("#{a[0].pluralize}", count: 2) %>:</strong>
		<% a[1].each do |act| %>
		<%= t("#{act.split(':')[0].pluralize}.#{act.split(':')[1]}.action").gsub(/#{t("#{a[0].pluralize}", :count => 2)}-?\s?/, '').gsub(/#{t("#{a[0].pluralize}", :count => 1)}-?\s?/, '').capitalize %><%= ", " if a[1].last != act %>

		<% end %>
	</li>
	<% end %>
</ul>