<footer class="footer">
	<small> Judo-Homepage by <a href="http://tonifreitag.de/">Toni Freitag</a> </small>
	<nav>
		<ul>
			<li>
				<%= link_to "Impressum", impressum_path %>
			</li>
			<li>
				<%= link_to "Hilfe",hilfe_path %>
			</li>
			<li>
				<%= link_to "Kontakt", kontakt_path %>
			</li>
		</ul>
	</nav>
</footer>