<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!--<div class="logo">-->
			<%= link_to "Judo-Homepage", root_path, id: "logo" %>
			<!--</div>-->
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Startseite", root_path %>
					</li>
					<% if signed_in? %>
					<li>
						<%= link_to "Benutzer", users_path %>
					</li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Profil", current_user %>
							</li>
							<li>
								<%= link_to "Einstellungen", edit_user_path(current_user) %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Abmelden", abmelden_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<% else %>
					<li>
						<%= link_to "Anmelden", anmelden_path %>
					</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>